<div class="container">
    <h1>No Property!</h1>
    <h2>You have not signed for a property yet! @Html.ActionLink("Find an available property within this List", "List", "Property", null, new { @class = "small" })</h2>
</div>