body {
    background-image: url("img/school.png");
}

body.login{
    background-color: #808080;
    background-image: url("img/city-night.jpg");
    background-attachment: fixed;
    background-position: right top; /* Make background prefer being attached at the right and top sides */
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.7) inset;
    position: relative;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

h2.light {
    color: #FFF;
}

.login-content {
    background-color:rgba(232, 232, 232, 0.89);
    padding: 0 0 30px 30px;
    border-radius: 13px;
    box-shadow: 0 0 10px #232323;
}

.form-horizontal .form-group {
    margin-left: 0px;
}

img.logo {
    max-width: 25%;
    margin-bottom: 10px;
}

/*
    Property List page
*/
#PropertyList {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
}

.Property {
    float: left;
    position: relative;
    width: 111px;
    height: 170px;
    margin: 0 5px;
    padding: 0;
}

.Property img {
    width: 110px;
    height: 110px;
}

.Property h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-width: 96px;
    overflow: hidden;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}

.Property p {
    visibility: hidden;
}

.Property:hover p {
    visibility: visible;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;
    margin: 0;
    padding: 0;
    line-height: 110px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}

.k-listview {
    background-color: rgba(255, 255, 255, 0.34);
    border: 0;
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.k-pager-wrap {
    border: 0;
}