@model ImageUploadModel

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        @using (Html.BeginForm("UploadImages", "PropertyImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.CustomValidationSummary()
            @Html.HiddenFor(m => m.PropertyId)

            <div class="form-group">
                @Html.LabelFor(m => m.Images)
                @(Html.Kendo().Upload()
                                .Name("Images")
                                .Multiple(true)
                                .HtmlAttributes(new { @class = "form-control", file_extension = ".jpg" })
                )
            </div>

            <input type="submit" />
        }
    </div>
</div>
